/****** Général ***********/

/*
@font-face {
    font-family: "Ephesis";
    src: url("../Ephesis/Ephesis-Regular.ttf");
}

body{
    font-family: "Ephesis", cursive;
}
*/

* {
  font-family: "Raleway", sans-serif;
}

.entete{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0px;
}

.logo-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 79px;
  width: 161px;
  margin-left: 0px;
}

.logo {
  padding: 25px 25px 25px 0px;
}


.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 244px;
  height: 35px;
  margin-right: 10px;
}

.lien-hebergements {
  display: flex;
  flex-direction: column;

}

.lien-hebergements:hover {
  color: #0065fc;
  border-top-style: solid;
  padding-top: 12px;
}

.lien-activites{
  display: flex;
  flex-direction: column;
 
}

.lien-activites:hover{
  color: #0065fc;
  border-top-style: solid;
  padding-top: 12px;
}

.trouvez-votre-hebergement{
  height: 53px;
}

.titre-trouvez-votre-hebergement {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 7px;
}

.ville-nature {
  font-size: 16px;
  margin-top: 0px;
}

.conteneur-recherche{
  margin-top: 35px;
}

.partie-recherche {
  display: flex;
  flex-direction: row;
  /*border: 2px solid pink;*/
  margin-top: 15px;
  margin-bottom: 35px;
}

.rectangle-plan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 49px;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}

input::placeholder {
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding-left: 20px;
}

.champ-recherche {
  width: 195px;
  height: 46px;
  border: thin solid #f2f2f2;
}

.loupe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 49px;
  height: 49px;
  border-radius: 15px;
  background-color: #0065fc;
  display: none;
}

.bouton-rechercher {
  width: 132px;
  height: 49px;
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0px 13px 13px 0px;
  border: none;
}

form {
  display: flex;
  flex-direction: row;
  /*flexibiliser les éléments pour pouvoir les coller sans espace entre eux*/
}

/****************************filtres CSS******************************/
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}
/****************************filtres CSS*******************************/

/**************************************************** Barre de filtres ***********************************************/

.recherche-et-filtres {
  display: flex;
  flex-direction: column;
}


.conteneur-parent-filtres {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 800px;
  height: 50px;
  /*border: 2px solid blue;*/
  margin: 0px;
  margin-bottom: 35px;
}

.filter-boutons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fil {
  font-weight: bold;
  font-size: 18px;
  /*border: 2px solid black;*/
  width: 54px;
  height: 21px;
  margin-right: 10px;
}

.economique {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px; /*la valeur sur la maquette est 25px mais pas ressemblant*/
  border: 3px solid #f2f2f2;
  margin-left: 9px;
  margin-right: 9px;
}


.familial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  border: 3px solid #f2f2f2;
  margin-left: 9px;
  margin-right: 9px;
}


.romantique {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  border: 3px solid #f2f2f2;
  margin-left: 9px;
  margin-right: 9px;
}


.nos-pepites {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  border: 3px solid #f2f2f2;
  margin-left: 9px;
  margin-right: 9px;
}

.bouton:hover{
  background-color: #deebff;
}

.ecriture-bouton {
  font-size: 17px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 15px;
}

.icones-filtres{
  padding-left: 16px;
  padding-right: 6px;
}



.conteneur-infobar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 24px;
  margin-bottom: 35px;
}

.info{
  /*j'élimine le padding de base d'un paragraphe ainsi que le margin de base crée entre <p> et le conteneur flex*/
  padding: 0px;
  margin: 0px;
  margin-left: 4px;
}

.info-bulle{
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: 0px;
  margin-right: 3px;
  
}


/*********************************************************************************************************************/

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card:hover{
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.1);
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/************************************ MEGA CONTENEUR hébergements-et-populaires ***********************************/


.conteneur-hebergements-et-populaires{
  /*border: 2px solid orange;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 35px;
}

/************************************ MEGA CONTENEUR hébergements-et-populaires ************************************/






/************************************ Hebergements And Populaires ****************************************************/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  width: 1340px;
  height: 614px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/************************************************* Hebergements *******************************************************/
.hebergements {
  display: flex;
  flex-direction: column;
  width: 871px; /*871 px sur figma, 900px réajusté*/
  height: 614px;
  background-color: #f2f2f2;
 
  margin-left: 0px;
  /*border: 2px solid blue;*/
  border-radius: 15px;
}

.hebergements-titre{
  margin-top: 30px;
  margin-left: 30px;
  font-size: 22px;
  font-weight: bold;
}

.division-cartes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-around;
  border-radius: 15px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 0px;
}


.boite-carte{
  display: flex;
  flex-direction: column;
  /*border: solid 2px black;*/
  width: 240px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  margin: 15px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.boite-carte:hover{
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.1) ;
}


.boite-carte img {
  height: 124px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;

}

.conteneur-carte{
  display: flex;
  flex-direction: column;
  height: 64px;
  width: 100%;

}


.carte-texte{
  display: flex;
  flex-direction: column;
  
}

.titre-h2-carte{
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 7px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
}

.paragraphe-carte{
  font-size: 14px;
  margin: 0px;
  margin-left: 10px;
  margin-bottom: 8px;
}

.card-rating{
  display: flex;
  height:  20px;
  margin-top: 4px;
  margin-left: 10px;

}



.afficher-plus{
  font-size: 18px;
  font-weight: Bold;
  margin-left: 25px;
  margin-bottom: 5px;

}

/*********************************************** Populaires *******************************************************/
.populaires {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 429px;
  height: 614px;
  /*border: 2px solid greenyellow;*/
  background-color: #f2f2f2;
  border-radius: 15px;
}

.populaires-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*border: 2px solid aqua;*/
  width: 429px;
  margin-bottom: 0px;
  margin-top: 12px;
 
}

.section-title{
  margin-top: 17px;
  margin-left: 28px;
}

.graphique{
  margin-top: 22px;
  margin-right: 28px;
}

.populaires-cards{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 369px;
  height: 498px;
  /*border: 2px solid blue;*/
  padding: 2px;
  margin: 20px;
 
  
}

.populaires-cards .card {
  display: flex;
  margin-top: 25px;
  width: 369px;
  height: 146px;
  box-sizing: border-box;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  height: 146px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.card-txt{
  margin-left: 10px;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}





/********************************* fin section populaires *******************************************/





/********************************* section activités à Marseille *************************************/

.conteneur-activites-a-marseille{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1340px;
  height: 559px;
  /*border: 1px solid blue;*/

}

.conteneur-photos-marseille{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1280px;
  height: 439px;
  /*border: 1px solid red;*/
  
} 


.titre-activites-a-marseille{
  font-size: 22px;
  font-weight: Bold;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 1075px;
}

.carte-photo-marseille{
  display: flex;
  flex-direction: column;
  width: 297px;
  height: 439px;
  /*border: 2px solid black;*/
  border-radius: 20px;
  box-sizing: border-box;
  background-color: white;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.carte-photo-marseille:hover{
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.1); 
}

.carte-photo-marseille img{
  width:100%;
  height: 380px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  
}

.titre-carte-marseille{
  font-size: 16px;
  font-weight: bold;
  margin-left: 19px;
  margin-top: 18px;
 
}

/*************************************************** footer *******************************************************/

footer{
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  height: 163px;
}

.foot{
  width: 446px;
}

.foot-h2{
  font-size: 18px;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 20px;
 
}

ul{
  list-style-type: none;
  padding-left: 0px;
  font-size: 16px;
  margin-left: 15px;
}

li{
  margin-bottom: 10px;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {   /*initialement à 30%*/
    width: 100%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}







/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

  body{
    width: 100%;
    /*
    width: 375px;
    height: 3982px;
    */
  }

  .bouton-rechercher {
    display: none;
  }
  .loupe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px;
    border-radius: 15px;
    background-color: #0065fc;
    box-shadow: 0px 5px 3px #deebff;
  }
  /* ... */

  .entete{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .logo-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
  }

  .logo{
    width: 90%;
    padding: 30px;
    object-fit: contain;
  }

  .navigation{
    width: 100%;
    height: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid red;
  }


  .conteneur-recherche {
    width: 100%;  
  }

  .partie-recherche{
    width: 100%;
  }

  /* dans hébergement */
  .division-cartes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
    width: 90%;
    border-radius: 15px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 0px;
  }

  .lien-hebergements{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  }

  .lien-hebergements:hover {
    color: #0065fc;
    border-bottom-style: solid;
    border-top-style: none;
  }

  .lien-activites{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  }

  .lien-activites:hover{
    color: #0065fc;
    border-bottom-style: solid;
    border-top-style: none;
  }

  .recherche-et-filtres {
    display: flex;
    flex-direction: column;
    border: 1px solid violet;
  }

  .conteneur-parent-filtres{
    flex-direction: column;
    width: 100%;
    border: 1px dashed green;
  }

  .filter-boutons{
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0px;
  margin-bottom: 35px;
  }

  .bouton {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    height: 50px;
    margin: 10px;
    border-radius: 30px;
    border: 3px solid #f2f2f2;
    
  }
  
  .icones-filtres{
    padding-left: 2%;
    padding-right: 2%;
  }

  .ecriture-bouton {
    padding-left: 2%;
    padding-right: 20%;
  }

  .conteneur-infobar{
    display: flex;
    height: 38px;
    margin-top: 120px;
  }

  .conteneur-hebergements-et-populaires{
    display: flex;
    flex-direction: column-reverse;
  }

  .hebergements-and-populaires{
    width: 100%;
  }

  .populaires{
    width: 100%;
    /*width: 375px;*/
    margin-bottom: 15px;
  }

  .populaires-title{
    width: 100%;
  }

  .populaires-cards{
    width: 90%;
    height: 529px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .populaires-cards a {
    width: 100%;
  }

  .populaires-cards .card {
    display: flex;
    flex-direction: row;
    /*margin-top: 25px;*/
    justify-content: center;
    width: 100%;
    height: 146px;
    box-sizing: border-box;
  }

  .boite-carte{
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  .hebergements{
    width: 100%;
    height: 1435px;
    background-color: #FFFFFF;
  }

  .hebergements-titre{
    margin-left: 0px;
    width: 100%;
  }

  .conteneur-photos-marseille {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
  }

  .conteneur-activites-a-marseille{
    display: flex;
    flex-direction: colmun;
    align-items: center;
    /*width: 375px;*/
    width: 100%;
    margin-bottom: 150px;
  }

  .titre-activites-a-marseille{
    margin: 0px;
    margin-bottom: 30px;
  } 

  .titre-carte-marseille{
    margin: 0px;
  }

  .carte-photo-marseille{

    width: 100%;
    height: 20%;
    margin-bottom: 15px;
    /*width: 315px;*/
 }

 .carte-photo-marseille img{
  height: 75%;
 } 


  /*reprendre à partir d'ici car fonctionne pas*/

  .carte-photo-marseille{
    width: 100%;
    /*width: 315px;*/
    height: 141px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }

  footer{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    height: 461px;
  }

}
